nav.footer-nav-container.row
	.col-md-3
		.footer-menu-title Инжиниринг изделий
		ul.footer-nav-menu.footer-menu.list-unstyled
			each itemTitle in [ 'Создание чертежей и 3D-моделей', 'Разработка литейных технологий', 'Подбор необходимого оборудования и технологической оснастки', 'Обследование производства и выработка рекомендаций по его модернизации' ]
				li
					a(href="/")= itemTitle

	.col-md-3
		.footer-menu-title Изготовление литейной оснастки
		ul.footer-nav-menu.footer-menu.list-unstyled
			each itemTitle in [ 'Проектирование литейной технологии', 'Проектирование оснастки', 'Процесс изготовлени' ]
				li
					a(href="/")= itemTitle
	
	.col-md-3
		.footer-menu-title Проектирование и производство композитных изделий
		ul.footer-nav-menu.footer-menu.list-unstyled
			each itemTitle in [ 'Услуга 1', 'Услуга 2', 'Услуга 3', 'Услуга 4' ]
				li
					a(href="/")= itemTitle
	
	.col-md-3
		.footer-menu-title Лабораторные исследования
		ul.footer-nav-menu.footer-menu.list-unstyled
			each itemTitle in [ 'Лаборатория макро- и микроисследований', 'Лаборатория оптического контроля', 'Лаборатория прочностных испытаний', 'Лаборатория неразрушающего контроля', 'Лаборатория по определению твердости' ]
				li
					a(href="/")= itemTitle
	
	.col-md-3
		.footer-menu-title Изготовление отливок
		ul.footer-nav-menu.footer-menu.list-unstyled
			each itemTitle in [ 'Литье в песчаные формы (холодно-твердеющие смеси)', 'Литье по выплавляемым моделям (точное литье)' ]
				li
					a(href="/")= itemTitle
	
	.col-md-3
		.footer-menu-title Механическая обработка
		ul.footer-nav-menu.footer-menu.list-unstyled
			each itemTitle in [ 'Услуга 1', 'Услуга 2', 'Услуга 3', 'Услуга 4' ]
				li
					a(href="/")= itemTitle

	.col-md-3
		.footer-menu-title Дополнительные услуги
		ul.footer-nav-menu.footer-menu.list-unstyled
			each itemTitle in [ 'Термообработка', 'Дробеметная очистка', 'Гидропескоструйная очистка', 'Аргонодуговая сварка' ]
				li
					a(href="/")= itemTitle